---
// src/pages/[id].astro
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const link = [
    { id: 'bicl', title: 'QnJvYWR3YXkgaW4gQ2hpY2FnbyBMb3R0ZXJ5', url: 'aHR0cHM6Ly93d3cuYnJvYWR3YXlpbmNoaWNhZ28uY29tL2Jyb2Fkd2F5LWluLWNoaWNhZ28tbG90dGVyeS8=' },
    {id: 'randlgio', title: 'UmFuZG9tIExldCdzIEdhbWUgaXQgT3V0IHZpZGVv', url: 'aHR0cHM6Ly9yeWFubW9udHZpbGxlLmNvbS9jb3VudGRvd24vcmFuZG9tLmh0bWw='}
  ];

  const decodeString = (endodedString: string) => {
    try {
      return atob(endodedString);
    } catch (error) {
      console.error('Error decoding string:', error);
      return '';
    }
  };

  return link.map((link) => ({
    params: { id: link.id },
    props: {
      decodedTitle: decodeString(link.title),
      decodedUrl: decodeString(link.url),
    },
  }));
}

const { decodedTitle, decodedUrl } = Astro.props;
---

<Layout title={decodedTitle} redirectUrl={decodedUrl}>
  <h1>{decodedTitle}</h1>
  <p>Redirecting to <a href={decodedUrl}>{decodedTitle}</a></p>
</Layout>