---
// src/pages/[id].astro
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const link = [
    { id: 'bicl', title: 'QnJvYWR3YXkgaW4gQ2hpY2FnbyBMb3R0ZXJ5', url: 'aHR0cHM6Ly93d3cuYnJvYWR3YXlpbmNoaWNhZ28uY29tL2Jyb2Fkd2F5LWluLWNoaWNhZ28tbG90dGVyeS8=' },
  ];

  const decodeBase64Url = (base64Url: string) => {
    try {
      return atob(base64Url);
    } catch (error) {
      console.error('Error decoding Base64 URL:', error);
      return '';
    }
  };

  return link.map((link) => ({
    params: { id: link.id },
    props: {
      title: decodeBase64Url(link.title),
      decodedUrl: decodeBase64Url(link.url),
    },
  }));
}

const { title, decodedUrl } = Astro.props;
---

<Layout title={title} redirectUrl={decodedUrl}>
  <h1>{title}</h1>
  <p>Redirecting to <a href={decodedUrl}>{title}</a></p>
</Layout>